{
    "root": true,
    "parser": "babel-eslint",
    "plugins": [ "react" ],
    "env": {
        "browser": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "no-console": 0,
        "no-debugger": 0,
        "no-shadow": 2,
        "no-use-before-define": 2,
        "eqeqeq": 0,
        "curly": 0,
        "no-underscore-dangle": 0,
        "quotes": [2, "single"],
        "semi": [ 2, "always" ],
        "space-unary-ops": 0,
        "space-infix-ops": 2,
        "indent": [ 2, 4 ],
        "strict": 0,
        "jsx-quotes": 1,
        "no-multi-spaces": 2,
        "no-trailing-spaces": 2,
        "spaced-comment": [2, "always", { "block": { "exceptions": ["*"] } } ],
        "no-lonely-if": 2,
        "no-negated-condition": 2,
        "no-multiple-empty-lines": 2,
        "react/display-name": 1,
        "new-parens": 2,
        "new-cap": 2,
        "eol-last": 2,
        "no-const-assign": 2,
        "consistent-this": [2, "self"],
        "linebreak-style": [2, "unix"],
        "max-nested-callbacks": [2, 3],
        "no-class-assign": 2,
        "no-dupe-class-members": 2,
        "no-this-before-super": 2,
        "prefer-const": 1,
        "react/jsx-boolean-value": [2, "always"],
        "react/jsx-closing-bracket-location": [2, { "location": "after-props" }],
        "react/jsx-curly-spacing": 2,
        "react/jsx-indent-props": [2, 4],
        "react/jsx-max-props-per-line": [2, { "maximum": 4}],
        "react/jsx-no-duplicate-props": 2,
        "react/jsx-no-undef": 2,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/no-did-mount-set-state": [2, "allow-in-func"],
        "react/no-did-update-set-state": [2, "allow-in-func"],
        "react/no-unknown-property": 2,
        "react/prop-types": 2,
        "react/self-closing-comp": 2,
        "react/sort-comp": 2,
        "react/wrap-multilines": 2
    }
}
